<footer>
    <div class="footer-contenu">
        <div class="d-flex justify-content-between align-items-center">
            <div class="px-2">
                <div class="d-flex align-items-center gap-2">
                    <img src="/assets/img/logo/logo-lg.png" alt="" style="height: 32px;"><p class="m-0">&copy; 2023 - Alexander</p>
                </div>
                <!--div class="d-flex gap-2">
                    <div *ngFor="let locale of listeLocales">
                        <a href="/{{locale.code}}/" class="lien-non text-white">
                            {{locale.nom}}
                        </a>
                    </div>
                </div-->
            </div>
            <div class="d-flex gap-3">
                <a href="#" class="lien-non" matTooltip="Facebook"><span class="mdi mdi-facebook mdi-24px" ></span></a>
                <a href="#" class="lien-non" matTooltip="X"><span class="mdi mdi-twitter mdi-24px"></span></a>
                <a href="#" class="lien-non" matTooltip="YouTube"><span class="mdi mdi-youtube mdi-24px"></span></a>
                <a href="#" class="lien-non" matTooltip="Instagram"><span class="mdi mdi-instagram mdi-24px"></span></a>
                <a href="https://github.com/alx-q" class="lien-non" matTooltip="GitHub" target="_blank"><span class="mdi mdi-github mdi-24px"></span></a>
            </div>
        </div>
    </div>
</footer>