.contenu{
    background-color: #e7e7e7;
}

.btn.btn-primary{
    background-color: #30383f !important;
    border-color: #30383f !important;
}


.btn.btn-outline-primary{
    color: #30383f !important;
}

.form-check-input:checked {
    background-color: #30383f;
    border-color: #30383f;
}