<div>
    <div class="zone-principale" style="width: {{this.aideActif==true ? 'calc(100% - 300px)': '100%'}};">
        <app-header [title]="title" (changerAide)="changerAide()" [couleur]="couleur" *ngIf="afficherHeader"></app-header>
        <router-outlet (activate)="changementNomComposante($event)"></router-outlet>
        <app-footer *ngIf="afficherHeader"></app-footer>
        <button mat-fab matTooltip="Revenir en haut" matTooltipPosition="left" *ngIf="afficherScrollToTop" (click)="defilerEnHaut()" color="primary" style="position: fixed; bottom:20px; right: {{this.aideActif==true ? '320px': '20px'}}">
            <span class="mdi mdi-arrow-up mdi-24px"></span>
        </button>
    </div>
    <div class="zone-aide" *ngIf="aideEstActif()">
        <app-aide (fermerAide)="gererAide($event)" [changementComposante]="changementAideEmitter">{{
            this.changementAideEmitter.emit(this.nomComposante) }}</app-aide>
    </div>
</div>


<app-connexion></app-connexion>